<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tweedia.ticket.mapper.TicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tweedia.ticket.domain.Ticket">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="title" property="title" />
        <result column="reply" property="reply" />
        <result column="server" property="server" />
        <result column="questionType" property="questionType" />
        <result column="createDate" property="createDate" />
        <result column="operatorId" property="operatorId" />
        <result column="isDelete" property="isDelete" />
        <result column="status" property="status" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, phone, email, title, reply, server, questionType, createDate, operatorId, isDelete, status, description
    </sql>

</mapper>
